{% extends 'shared/base.html' %}
{% load static %}
{% load tailwind_filters %}

{% block title %}
    Add Equipment
{% endblock %}

{% block content %}
    <h1 class='text-3xl font-bold text-gray-900 mb-10'>Add New Equipment</h1>

    <div class='bg-white p-6 rounded-lg shadow-md'>
        <form method='post' novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class='mb-4'>
                    {{ field|as_crispy_field }}
                </div>
            {% endfor %}
            <div class='mt-6 flex justify-end'>
                <button type='submit' class='bg-blue-600 hover:bg-blue-700 mx-2 text-white font-bold py-2 px-4 rounded-lg shadow transition duration-300 ease-in-out'>
                    Add Equipment
                </button>
                <a href='{% url 'equipment:list' %}' class='bg-gray-400 hover:bg-gray-500 mx-2 text-white font-bold py-2 px-4 rounded-lg shadow transition duration-300 ease-in-out'>
                    Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock content %}