{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Equipment List
{% endblock %}

{% block content %}
    <div class='flex justify-between items-center mb-10'>
        <h1 class='text-3xl font-bold text-gray-900'>Equipment</h1>

        {% include 'shared/search-form.html' %}

        <a href='{% url 'equipment:add' %}' class='{{ button_class }} text-white font-bold py-2 px-4 rounded-lg shadow transition duration-300 ease-in-out'>
            Add Equipment
        </a>
    </div>

    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
        {% for equipment in equipment_items %}
            <a href='{% url 'equipment:details' equipment.pk equipment.slug%}' class='block bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 ease-in-out'>
                <h2 class='text-xl font-semibold text-gray-800 mb-2'>{{ equipment.name }}</h2>
                <p class='text-gray-600'>{{ equipment.description|truncatechars:100 }}</p>
            </a>
        {% empty %}
            <p class='col-span-full text-center text-gray-600'>No equipment added yet.</p>
        {% endfor %}
    </div>

    {% include 'shared/pagination.html' %}

{% endblock content %}