{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Exercise List
{% endblock %}

{% block content %}
    <div class='flex justify-between items-center mb-10'>
        <h1 class='text-3xl font-bold text-gray-900'>Exercises</h1>

        {% include 'shared/name-search-form.html' %}

        <a href='{% url 'exercise:add' %}' class='{{ button_class }} text-white font-bold py-2 px-4 rounded-lg shadow transition duration-300 ease-in-out'>
            Add Exercise
        </a>
    </div>

    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
        {% for exercise in exercises %}
            <a href='{% url 'exercise:details' exercise.pk exercise.slug%}' class='block bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 ease-in-out'>
                <h2 class='text-xl font-semibold text-gray-800 mb-2'>{{ exercise.name }}</h2>
                <p class='text-gray-600'>{{ exercise.description|truncatechars:100 }}</p>
            </a>
        {% empty %}
        <p class='col-span-full text-center text-gray-600'>No exercises added yet.</p>
        {% endfor %}
    </div>

    {% include 'shared/pagination.html' %}

{% endblock content %}