{% load static %}
<nav class='bg-gray-800 p-4'>
    <div class='container mx-auto flex justify-between items-center'>
        <a href='/' class='flex items-center'>
          <img src='{% static 'images/wl-logo.png' %}' alt='WorkoutLab Logo' class='h-10 w-10 mr-2 rounded-lg'>
          <span class='text-white text-2xl font-bold'>WorkoutLab</span>
        </a>

        <div class='space-x-4'>
            <a href='/' class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'>Home</a>
            <a href='/equipment/' class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'>Equipment</a>
            <a href='/exercises/' class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'>Exercises</a>
            <a href='/workouts/' class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'>Workouts</a>
        </div>
    </div>
</nav>