{% block navigation %}
    <div class='mt-8 flex justify-center items-center space-x-4'>

        {% if page_obj.has_previous %}
            <a href='?page={{ page_obj.previous_page_number }}{%  if request.GET.q %}&q={{ request.GET.q }}{% endif %}'
               class='{{ button_class }} text-white font-bold py-2 px-4 rounded-lg shadow transition duration-300 ease-in-out'>
                &laquo; Previous
            </a>
        {% endif %}

        <span class='text-gray-600'>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href='?page={{ page_obj.next_page_number }}{%  if request.GET.q %}&q={{ request.GET.q }}{% endif %}'
               class='{{ button_class }} text-white font-bold py-2 px-4 rounded-lg shadow transition duration-300 ease-in-out'>
                Next &raquo;
            </a>
        {% endif %}

    </div>
{% endblock %}