{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Delete Workout Plan
{% endblock %}

{% block content %}
    <h1 class='text-3xl font-bold text-gray-900 mb-6'>Delete Workout Plan: {{ workout_plan.name }}</h1>

    <div class='bg-white p-6 rounded-lg shadow-md'>
        <p class='text-lg text-gray-700 mb-4'>Are you sure you want to delete the workout plan '{{ workout_plan.name }}'?</p>
        <form method='post'>
            {% csrf_token %}
            <div class='mt-6 flex justify-end'>
                <button type='submit' class='bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg shadow transition duration-300 ease-in-out'>
                    Confirm Delete
                </button>
                <a href='{% url 'workout:details' workout_plan.id %}' class='ml-4 text-gray-600 hover:text-gray-800 py-2 px-4 rounded-lg'>
                    Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock content %}