{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Workout List
{% endblock %}

{% block content %}
    <div class='flex justify-between items-center mb-10'>
        <h1 class='text-3xl font-bold text-gray-900'>Workout Plans</h1>

        {% include 'shared/name-search-form.html' %}

        <a href='{% url 'workout:add' %}' class='bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-lg shadow transition duration-300 ease-in-out'>
            Create Workout Plan
        </a>
    </div>

    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
        {% for workout_plan in workout_plans %}
            <a href='{% url 'workout:details' workout_plan.pk workout_plan.slug %}' class='block bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 ease-in-out'>
                <h2 class='text-xl font-semibold text-gray-800 mb-2'>{{ workout_plan.name }}</h2>
            </a>
        {% empty %}
        <p class='col-span-full text-center text-gray-600'>No workout plans created yet.</p>
        {% endfor %}
    </div>
{% endblock content %}